/* パララックス */
/* body {
    margin: 0;
} */

/* .horizontal {
    height: 100vh;
    overflow: hidden;
} 

.track {
    display: flex;
    width: 400vw;
    height: 100vh;
}
*/

.panel {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/* #img1{
    position: relative;
    z-index: 10;
    translate: -20vw;
} */
/* #img2{
    position: relative;
    z-index: 7;
    translate: -13vw -100vh;
}
#img3{
    position: relative;
    z-index: 4;
    translate: -15vh -200vh;
}
#img4{
    position: relative;
    z-index: 2;
    translate: 0 -300vh;
} */
/* スライドした時の動き */
/* .horizontal {
    height: 300vh;
    position: relative;
} */

/*
.track {
    position: sticky;
    top: 0;
    /* display: flex; 
    height: 100vh;
}
*/

/* .track style {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
} */


/* ボタン */
/* a .btn{
    display: flex;
    padding: 10px 20px;
    background: rgb(84, 49, 49);
    color: rgb(8, 141, 76);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;  
} */

/* 写真四隅配置 */
body {
    margin: 0;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

/* 四隅の写真 */
.corner {
    position: absolute;
  width: 400px;   /* サイズ調整 */
    height: 200px;
    object-fit: cover;
}

.top-left {
    top: 20px;
    left: 20px;
}

.top-right {
    top: 20px;
    right: 20px;
}

.bottom-left {
    bottom: 20px;
    left: 20px;
}

.bottom-right {
    bottom: 20px;
    right: 20px;
}

/* 真ん中テキスト */
.center-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    color: white;
}
.center-text::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/bokasi.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    transform: scale(1.1);
    z-index: -1;
    height: 200px;
}
@media (max-width: 768px) {

  .corner {
    width: 120px;
    height: 120px;
  }

  .center-text {
    padding: 20px;
  }

  .center-text h1 {
    font-size: 22px;
  }

  .center-text p {
    font-size: 14px;
  }

}
/* .center-text h1,
.center-text p{
    position: relative;
    z-index: 1;
} */

/* viewページ */
