/* パララックス */
body {
    margin: 0;
}

/* .horizontal {
    height: 100vh;
    overflow: hidden;
} 

.track {
    display: flex;
    width: 400vw;
    height: 100vh;
}
*/

.panel {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/* #img1{
    position: relative;
    z-index: 10;
    translate: -20vw;
} */
/* #img2{
    position: relative;
    z-index: 7;
    translate: -13vw -100vh;
}
#img3{
    position: relative;
    z-index: 4;
    translate: -15vh -200vh;
}
#img4{
    position: relative;
    z-index: 2;
    translate: 0 -300vh;
} */
/* スライドした時の動き */
/* .horizontal {
    height: 300vh;
    position: relative;
} */

/*
.track {
    position: sticky;
    top: 0;
    /* display: flex; 
    height: 100vh;
}
*/

/* .track style {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
} */


/* ボタン */
.btn{
    display: flex;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;  
}
